/* some new widget classes for eval.tl_class */
.w125 {
    width: calc(12.5% - 30px);
    float: left;
    min-height: 80px;
}
.w20 {
    width: calc(20% - 30px);
    float: left;
    min-height: 80px;
}
.w25 {
    width: calc(25% - 30px);
    float: left;
    min-height: 80px;
}
.w75 {
    width: calc(75% - 30px);
    float: left;
    min-height: 80px;
}
/* align input fields in table cells */
.tl_modulewizard td {
    vertical-align:top;
}
