/*
    note the p after data-name to indicate an extension by pdir
 */

/*  initial state for all services */
[data-namep^=servicesall] {
    display: none;
}
/*  servicesall show on agreed */
[data-namep=servicesall-agreed-show] {
    background-color: chocolate;
}
/*  servicesall show on rejected */
[data-namep=servicesall-rejected-show] {
    background-color: crimson;
}

/*  services */
[data-namep=youtube-video-agreed-show] { background-color: darkseagreen; }
[data-namep=youtube-video-agreed-hide] { background-color: darkorange; }
