/*
    note the p after data-name to indicate an extension by pdir
 */

/*  initial state for all services */
[data-namep^=servicesall] {
    display: none;
}
/*  servicesall show on accept */
[data-namep=servicesall-agreed-show] {
    background-color: chocolate;
}
/*  servicesall show on decline */
[data-namep=servicesall-rejected-show] {
    background-color: crimson;
}
